body {
  margin: 0;
  padding: 0;
  background-color: #101f2b !important;
  font-family: "Itim", cursive !important;
}
nav {
  position: fixed;
  overflow-y: hidden;
}
.navbar-nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.bg-nav {
  background-color: #1a2e3e !important;
}
.inactive {
  filter: brightness(100);
}
.itim-off {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
  color: #ffffff !important;
}

.mark-main {
  background-color: transparent !important;
  color: #fc8416 !important;
}

/* KHUSUS FONT SIZE DAN WARNA */

.text-main {
  color: #fc8416;
}

.fs-48 {
  font-size: 48px;
}

.fs-20 {
  font-size: 20px;
}

.margin-right {
  margin-right: 51px;
}

/* CUSTOM WIDTHS */
.w-10,
.w-xs-10 {
  width: 10% !important;
}
.w-15,
.w-xs-15 {
  width: 15% !important;
}
.w-20,
.w-xs-20 {
  width: 20% !important;
}

/* BREAKPOINTS */

/* SM breakpoint */
@media (min-width: 576px) {
  /* CUSTOM WIDTHS */
  .w-sm-10 {
    width: 10% !important;
  }
  .w-sm-15 {
    width: 15% !important;
  }
  .w-sm-20 {
    width: 20% !important;
  }
  .w-sm-75 {
    width: 75% !important;
  }
  .w-sm-100 {
    width: 100% !important;
  }
}

/* MD breakpoint*/
@media (min-width: 768px) {
  /* CUSTOM WIDTHS */
  .w-md-10 {
    width: 10% !important;
  }
  .w-md-15 {
    width: 15% !important;
  }
  .w-md-20 {
    width: 20% !important;
  }
  .w-md-75 {
    width: 75% !important;
  }
  .w-md-100 {
    width: 100% !important;
  }
}

/* LG breakpoint */
@media (min-width: 992px) {
  /* CUSTOM WIDTHS */
  .w-lg-10 {
    width: 10% !important;
  }
  .w-lg-15 {
    width: 15% !important;
  }
  .w-lg-20 {
    width: 20% !important;
  }
}

/* Gw taro kode bikinan gw di bwh ya dev nnti lu rapihin :v */
.row {
  padding: 15vh 5vw;
}
.btn-secondary {
  background-color: #b8b8b8 !important;
  border: none !important;
  border-radius: 100px !important;
  padding: 0.5rem 1rem !important;
}

.btn-secondary:hover {
  background-color: #fc8416 !important;
  border: none !important;
  border-radius: 100px !important;
  padding: 0.5rem 1rem !important;
}

.start-button {
  margin-top: 10vh;
  align-items: center;
  text-align: center;
}
.gambar-judul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* buat transisi */
p {
  opacity: 0;
  filter: blur(2px);
  transition: all 0.5s;
}
.show {
  opacity: 1;
  filter: none;
}
