body {
  margin: 0;
  padding: 0;
  background-color: #101f2b !important;
}

.bg-nav {
  background-color: #1a2e3e !important;
}

.itim-off {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
  color: #ffffff !important;
}

.fs-48 {
  font-size: 48px;
}

.margin-right {
  margin-right: 51px;
}

.color {
  color: blue;
  position: absolute;
}
