body {
  margin: 0;
  padding: 0;
}

.itim-off {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
  color: #737373 !important;
}

.fs-48 {
  font-size: 48px;
}

.margin-right {
  margin-right: 51px;
}

.color {
  color: red;
  position: absolute;
}
